name: replicate-claude-code

on:
  workflow_dispatch:

jobs:
  replicate:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/astral-sh/uv:python3.13-trixie

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Replicate Claude Code
        env:
          COS_BUCKET: ${{ secrets.COS_BUCKET }}
          COS_REGION: ${{ secrets.COS_REGION }}
          COS_PUBLIC_URL: ${{ secrets.COS_PUBLIC_URL }}
          COS_SECRET_ID: ${{ secrets.COS_SECRET_ID }}
          COS_SECRET_KEY: ${{ secrets.COS_SECRET_KEY }}
          COS_PATH_PREFIX: ${{ secrets.COS_PATH_PREFIX }}
        run: uv run --script replicate-claude-code.py
